section.form
    .container.container__form
        .form__title
            h2.section-title Связаться со мной
            form.contact(@submit.prevent="submitForm")
                .contact__wrapper.contact__wrapper--name(:class="{error: !nameValid}")
                    label.contact__label Введите ваше имя
                    .contact__icon-wrapper
                        +icon('user', 'contact__icon')
                    input.contact__input.contact__input--name(
                        type="text"
                        name="name"
                        placeholder="Ковальчук Дмитрий"
                        @input="validateName"
                        onFocus="this.placeholder=''"
                        )
                    .contact__tooltip {{nameError}}
                .contact__wrapper.contact__wrapper--email(:class="{error: !emailValid}")
                    label.contact__label Введите ваш email
                    .contact__icon-wrapper
                        +icon('envelope', 'contact__icon')
                    input.contact__input.contact__input--email(
                        type="email"
                        name="email"
                        placeholder="user@domain.com"
                        @input="validateEmail"
                        onFocus="this.placeholder=''"
                        )
                    .contact__tooltip {{emailError}}
                .contact__wrapper.contact__wrapper--message(:class="{error: !messageValid}")
                    label.contact__label Сообщение к письму
                    .contact__icon-wrapper
                        +icon('message', 'contact__icon')
                    textarea.contact__input.contact__input--message(
                        name="message"
                        @input="validateMessage"
                        placeholder="Требуется ваша помощь в создании сайта.\nИнтересуют сроки и цена вопроса"
                        onFocus="this.placeholder=''"
                        )
                    .contact__tooltip {{messageError}}
                button(@click.prevent="submitForm").contact__submit-button Отправить
    .overlay(:class="{disabled: overlayHidden}" @click="hideOverlay")
        .overlay__content
            .overlay__message {{resultMessage}}
            button.overlay__close(@click="hideOverlay") Закрыть