mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin socials(mod, data)
  ul(class='socials socials--' + mod)
    each item in data
      li.socials__item
        a(href=`${item.link}` target="_blank").socials__link
          +icon(`${item.name}`, 'socials__icon')

mixin nav(mod, data)
  nav(class='nav nav--' + mod)
    ul.nav__list
      each item in data
        li.nav__item
          a(href=`${item.link}`).nav__link #{item.title}
    .nav__mobile-link
      +icon('menu','nav__mobile-link-icon')
